################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet_home_work/lesson_1/bin/*
/dotnet_home_work/lesson_1/obj/*
/dotnet_home_work/.vs/*
/dotnet_home_work/Max_Min_Temperature/bin/*
/dotnet_home_work/Max_Min_Temperature/obj/*
/dotnet_home_work/CurrentMonth/bin/*
/dotnet_home_work/CurrentMonth/obj/*
/dotnet_home_work/EvenNumber/bin/*
/dotnet_home_work/EvenNumber/obj/*