################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotnet_home_work/lesson_1/bin/Debug/netcoreapp3.1
/dotnet_home_work/.vs/dotnet_home_work/v16
